{% extends 'Adminpage.html.twig' %}

{% block title %}Parametrer votre compte
{% endblock %}

{% block body %}


	<div class="main-panel">
		<div class="content-wrapper">
			{% for flashMessage in app.session.flashbag.get('success') %}
				<div class="alert alert-success">{{ flashMessage }}</div>
			{% endfor %}
			<div class="page-header">
				<h3 class="page-title">
					Retourner
				</h3>
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item">
							<a href="{{ path('app_gerer_utilisateur_Liste')}}">Gestion des Comptes</a>
						</li>
					</ol>
				</nav>
			</div>

			<div class="row">
				<div class="col-sm">
					<div class="card">
						<div class="card-body">

							{{ form(form) }}


						</div>
					</div>
				</div>
			</div>


		</div>
	</div>


{% endblock %}
{# <form>
														
															<div class="row mb-3">
																<label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Current Password</label>
																<div class="col-md-8 col-lg-9">
																	<input name="password" type="password" class="form-control" id="currentPassword">
																</div>
															</div>
														
															<div class="row mb-3">
																<label for="newPassword" class="col-md-4 col-lg-3 col-form-label">New Password</label>
																<div class="col-md-8 col-lg-9">
																	<input name="newpassword" type="password" class="form-control" id="newPassword">
																</div>
															</div>
														
															<div class="row mb-3">
																<label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Re-enter New Password</label>
																<div class="col-md-8 col-lg-9">
																	<input name="renewpassword" type="password" class="form-control" id="renewPassword">
																</div>
															</div>
														
															<div class="text-center">
																<button type="submit" class="btn btn-primary">Change Password</button>
															</div>
														</form> #}
{# {{ form_start(form) }} #}
{# {{ form(form) }} #}

{# <div class="row mb-3">
															    {{ form_label(form.password, 'Current Password', {
															        'label_attr': {'class': 'col-md-4 col-lg-3 col-form-label'}
															    }) }}
															    <div class="col-md-8 col-lg-9">
															        {{ form_widget(form.password, {'attr': {'class': 'form-control', 'id': 'currentPassword'}}) }}
															    </div>
															</div>
															
															<div class="row mb-3">
															    {{ form_label(form.newPassword, 'New Password', {
															        'label_attr': {'class': 'col-md-4 col-lg-3 col-form-label'}
															    }) }}
															    <div class="col-md-8 col-lg-9">
															        {{ form_widget(form.newPassword, {'attr': {'class': 'form-control', 'id': 'newPassword'}}) }}
															    </div>
															</div>
															
															<div class="row mb-3">
															    {{ form_label(form.renewPassword, 'Re-enter New Password', {
															        'label_attr': {'class': 'col-md-4 col-lg-3 col-form-label'}
															    }) }}
															    <div class="col-md-8 col-lg-9">
															        {{ form_widget(form.renewPassword, {'attr': {'class': 'form-control', 'id': 'renewPassword'}}) }}
															    </div>
															</div>
															
															<div class="text-center">
															    <button type="submit" class="btn btn-primary">Change Password</button>
															</div>
															
															{{ form_end(form) }} #}
